/* KaManTravel_food.css is for KaManTravel_food.html */

/* for box-model */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} 

h1 {
	font-family: 'Luckiest Guy', cursive;
	font-weight: normal;
}

h2, h3, h4, h5, h6{
	font-family: 'Amita', cursive;
	font-weight: normal;
	text-shadow: 1.5px 1.5px grey;
}

body {
	font-family: 'Halant', "Times New Roman", Times, serif;
	font-size: 1.1em;
	background-color: #E8FFFF;
	padding: 0;
	margin: 0;
}

.wrapper {
	overflow: auto; 
	margin: 0 auto;
	width: 98%;
	padding-top: 5em;
	padding-bottom:3em;
}

header {
	background-color: #9298CC;
	color: white;
	width: 100%;
	overflow: auto; 
	position: fixed;
}

header h1 {
	font-size: 2.1em;
	margin: 0;
	padding: 0.5em; 
	float: left;
	width: 40%;
	text-align: center;
	font-weight: bold;
}

nav {
	font-size: 1.1em;
	font-weight: bold;
	width: 60%;
	padding-top: 1.3em;
	float: right;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: right;
}

nav li {
	display: inline;
	padding-right: 1.2em;
}

nav a {
	display: inline-block;
	text-decoration: none;
	color: white;
	padding: 0.2em 0.6em;
}

nav a:hover {
	color: orange;
	background-color: black;
}

h2{
	padding-left: 1.2em;
}

footer{
	background-color: #9298CC;
	color: white;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

footer p {
	font-size: 0.7em;
	margin: 0;
	padding: 0.2em; 
	text-align: center;
}


.wrapperForSortable{
	overflow: auto;
	float: left;
	width: 55%;
	padding: 2em;
	padding-top: 0.5em;
}

.wrapperForTabs{
	overflow: auto;
	float: left;
	width: 45%;
	padding: 1em;
}

#sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
}

#sortable li { 
	margin: 3px 3px 3px 0;
	float: left; 
	width: 200px; 
	height: 200px; 
	font-size: 3em; 
	text-align: center; 
}

.foodPhoto{
	width: 200px;
    height: 200px;
}

.smallFoodPhoto{
	width: 100px;
	height: 100px;
}
